In [1]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [ ]:
df

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [ ]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
connection = engine.raw_connection()
connection

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df_iter

In [ ]:
df = next(df_iter)

In [ ]:
df

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head(0).to_sql(name='yellow_taxi_data',   con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data',   con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data',   con=engine, if_exists='append')
    t_end = time()
    print("inserted another chunk of data..., took %.3f seconds" %(t_end - t_start))

In [2]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')